@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@-webkit-keyframes main-animation {
  0% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 20%;
  }
}

@keyframes main-animation {
  0% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes switch-animation {
  0% {
    width: 50%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}

@keyframes switch-animation {
  0% {
    width: 50%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}

body {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 2vh;
  height: 3px;
  width: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  -webkit-animation-name: main-animation;
          animation-name: main-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

body h1 {
  font-size: 40px;
  margin-top: 3vh;
  text-align: center;
}

@media screen and (max-width: 840px) {
  body h1 {
    font-size: 26px;
    margin-top: 2vh;
  }
}

body .game {
  padding-top: 6vh;
  margin-left: 10%;
  width: 80vw;
  height: 80vh;
  background-color: rgba(98, 98, 98, 0.3);
}

body .game__doors {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 96vh;
  height: 32vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .game__doors #doorStyle {
  margin: 2vh 0 0 3vh;
  height: 28vh;
  width: 28vh;
  border-radius: 5%;
}

body .game__doors .closed {
  border: 2px solid black;
  background-color: #fffd91;
}

body .game__doors .closed:hover {
  background-color: #e0dc00;
}

body .game__doors .closed:hover .fa {
  color: #e0dc00;
}

body .game__doors .closed .fa {
  color: #fffd91;
}

body .game__doors .selected {
  border: 6px solid black;
}

body .game__doors .selected .fa {
  color: #fffd91;
}

body .game__doors .opened {
  border: 2px solid black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .game__doors .opened i {
  font-size: 10rem;
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .game__doors .opened .fa-times {
  color: #b10000;
}

body .game__doors .opened .fa-check {
  color: #00b100;
}

@media screen and (max-width: 1000px) {
  body .game__doors {
    width: 84vh;
    height: 32vh;
  }
  body .game__doors #doorStyle {
    margin: 2vh 0 0 3vh;
    height: 24vh;
    width: 24vh;
  }
}

@media screen and (max-width: 840px) {
  body .game__doors {
    width: 68vh;
    height: 32vh;
  }
  body .game__doors #doorStyle {
    margin: 1vh 0 0 2vh;
    height: 20vh;
    width: 20vh;
  }
}

body .instructions {
  font-size: 30px;
  margin-top: 12px;
  width: 400px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

body .instructions::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-top: 0vh;
  height: 3px;
  width: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  -webkit-animation-name: switch-animation;
          animation-name: switch-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

body .instructions::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-top: 4.5vh;
  height: 3px;
  width: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  -webkit-animation-name: switch-animation;
          animation-name: switch-animation;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

body .info {
  margin-top: 6vh;
  margin-left: 15%;
  width: 80%;
}

body .info .button {
  font-size: 20px;
  height: 60px;
  width: 120px;
  margin-right: 15px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .info .button:hover {
  background-color: #fffd91;
  cursor: -webkit-grab;
  cursor: grab;
}

body .info .data {
  margin-top: 12px;
  font-size: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .info .data:hover {
  margin-left: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0) 90%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */